* {
    font-family: 'Quicksand', sans-serif;
}
main {
    width: 100%;
    text-align: center;
    background: white;
    padding-top: 10px;
    padding-bottom: 30px;
    width: 33vw;
    margin: auto;
}
body {
    margin: 5vw;
    background: #3185FC;
}